<div class="container mt-4">
  <div class="row">
    <div class="col col-md-6">
      <label for="firstNameControl" class="form-label">First Name</label>
      <input
        type="text"
        [formControl]="firstNameControl"
        id="firstNameControl"
        class="form-control"
      />
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6">
      <label for="lastNameControl" class="form-label">Last Name</label>
      <input
        type="text"
        [formControl]="lastNameControl"
        id="lastNameControl"
        class="form-control"
      />
    </div>
  </div>
</div>
